<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AccountManager with servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servleti.Login</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>servleti.UserPage</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <servlet-class>servleti.AdminPage</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>AddCard</servlet-name>
    <servlet-class>servleti.AddCard</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>servleti.AddCustomer</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>servleti.DeleteCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>servleti.UpdateCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCard</servlet-name>
    <servlet-class>servleti.UpdateCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>servleti.AddAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>servleti.DeleteAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAccount</servlet-name>
    <servlet-class>servleti.UpdateAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTransactionOneAccount</servlet-name>
    <servlet-class>servleti.AddTransactionOneAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTransactionTwoAccounts</servlet-name>
    <servlet-class>servleti.AddTransactionTwoAccounts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadById</servlet-name>
    <servlet-class>servleti.ReadById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadByName</servlet-name>
    <servlet-class>servleti.ReadByName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadByNameCnp</servlet-name>
    <servlet-class>servleti.ReadByNameCnp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadBySubsidary</servlet-name>
    <servlet-class>servleti.ReadBySubsidary</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddCard</servlet-name>
    <url-pattern>/AddCard</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/AdminPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAccount</servlet-name>
    <url-pattern>/UpdateAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTransactionOneAccount</servlet-name>
    <url-pattern>/AddTransactionOneAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTransactionTwoAccounts</servlet-name>
    <url-pattern>/AddTransactionTwoAccounts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadById</servlet-name>
    <url-pattern>/ReadById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadByName</servlet-name>
    <url-pattern>/ReadByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadByNameCnp</servlet-name>
    <url-pattern>/ReadByNameCnp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadBySubsidary</servlet-name>
    <url-pattern>/ReadBySubsidary</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdateCard</servlet-name>
    <url-pattern>/UpdateCard</url-pattern>
  </servlet-mapping>
</web-app>